@import './styles';

$wrapper-max-width: 1400px;

.wrapper {
  padding: $default-spacing;
  width: 100%;
  max-width: $wrapper-max-width;
  display: flex;
  margin: auto;
  background: $background-color;
}

.layoutMember {
  flex: 1;
}

@media screen and (max-width: $layout-align-breakpoint) {
  .wrapper {
    flex-direction: column;
    margin: auto calc(#{$default-spacing} * 4);
  }

  .layoutMember {
    flex: unset;
  }
}
