@import '../../styles';

.wrapper {
  padding-left: $default-spacing;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
};

.headingSection {
  flex: auto;
}

.header {
  font-weight: 200;
  font-size: 3.5rem;
}

.subHeader {
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: calc(#{$default-spacing} / 2);
}

.connectionQualityBadge {
  display: inline-block;
  padding: calc(#{$default-spacing} / 3);
  text-transform: uppercase;
  background: $text-color;
  color: $background-color;
  font-size: 1.25rem;
  opacity: .8;
  letter-spacing: 2px;
  margin-top: $default-spacing;
}

.qualityMarker {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-left: calc(#{$default-spacing} / 2);
}

.greenMarker {
  background-color: green;
}

.redMarker {
  background-color: red;
}

.vehiclesWrapper {
  margin-top: calc(#{$default-spacing} * 2);
  opacity: .90;
}

.vehicleSection {
  padding: calc(#{$default-spacing} * 2);
  display: flex;
  border: 1px solid transparent;
  background-color: $dark-background-color;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border: 1px solid rgba($text-color, .75)
  }
}

.vehicleSection:not(:last-child) {
  margin-bottom: calc(#{$default-spacing} / 2);
}

.dataItem {
  flex: 1
}


